<!-- 写公告  -->



<html xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="/css/wangEditor.min.css"/>
    <style type="text/css">
        .content{
            margin-top: 20px;
        }
    </style>
    <div class="manage-header">
        <button>重置</button>
        <button id="publish">发布</button>
    </div>
    <div class="manage-main">
        <div class="manage-form">
            <label>类型：</label>
            <input type="radio" value="1" name="message-type"/><span>公告</span>
            <input type="radio" value="2" name="message-type"/><span>通知</span>
        </div>
        <div class="manage-form">
            <label>主题：</label>
            <input id="title" type="text" name="message-title" placeholder="请填写主题"/>
            <div class="content"><div id="contentIn" class="content-in"></div></div>
        </div>
    </div>
    <script src="/js/myWangEditor.js"></script>
    <script>
//        3.x版本
//        var E = window.wangEditor;
//        var editor = new E('#contentIn');
//
//        // 配置服务器端地址
//        editor.customConfig.uploadImgServer = '/information/uploadFile';
//        editor.customConfig.uploadFileName = 'yourFileName';
//        editor.create();
    </script>
    <script>
        $(function () {
            $("#publish").click(function () {
                var check = $("input[name='message-type']:checked").val();
                var title = $("#title").val();
                var html = editor.txt.html();
                if('1'===check){
                    var data = {
                        "title": title,
                        "comment": html
                    };
                    $.ajax({
                        type: "POST",
                        url: "/information/publishAnnouncement",
                        data: data,
                        dataType: "json",
                        success: function(r){
                            alert(r.message);
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown){
                            alert(XMLHttpRequest.status);
                            alert(XMLHttpRequest.readyState);
                            alert(textStatus);
                        }
                    })
                }else if('2'===check){

                }
            });
        })
    </script>
</html>