
<!--  财务流水  -->



<html xmlns:th="http://www.w3.org/1999/xhtml">
<div class="manage-header">
    <button>删除</button>
    <button>批量操作</button>
</div>
<div class="manage-main manage-six">
    <table>
        <tr class="manage-title manage-six">
            <td><label for="checkall">全选</label><input type="checkbox" id="checkall"/></td>
            <td>社团</td>
            <td>总支出</td>
            <td>总收入</td>
            <td>收支</td>
            <td>明细</td>
        </tr>
        <tr class="manage-body" th:each="data:${clubFinancial}">
            <td><input type="checkbox" name="checkname"/></td>
            <td th:text="${data.key}"></td>
            <td th:text="${data.value[1]}"></td>
            <td th:text="${data.value[2]}"></td>
            <td th:text="${data.value[3]}"></td>
            <td><span class="manage-btn manage-view">查看</span><span th:id="${data.value[0]}" class="manage-btn manage-download">下载</span></td>
        </tr>
    </table>
</div>
<script>
    //checkbox全选
    $(function () {
        $("#checkall").click(function(){
                if($(this).is(':checked')){
                    $("input[name='checkname']").prop('checked', true).parent().parent().addClass("on");
                }else{
                    $("input[name='checkname']").prop('checked', false).parent().parent().removeClass("on");
                }
            }
        );
        $("input[name='checkname']").click(function () {
            if($(this).is(':checked')){
                $(this).parent().parent().addClass("on");
            }
            else {
                $(this).parent().parent().removeClass("on");
            }
        });
        $(".manage-download").click(function () {
            var data = {
                "clubId": $(this).attr("id")
            };
            $.ajax({
                type: "GET",
                url: "/finance/download",
                data: data,
                dataType:"json",
                success: function(r){

                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    alert(XMLHttpRequest.status);
                    alert(XMLHttpRequest.readyState);
                    alert(textStatus);
                },
            });
        });
    });

</script>
</html>