
<!--  社团财务  -->


<html xmlns:th="http://www.w3.org/1999/xhtml">
<div class="manage-header">
    <button>删除</button>
    <button id="manageAll">批量操作</button>
    <button id="manageChange">批量增减</button>
</div>
<div class="fb-change">
    <div class="fb-confirm">确认</div>
    <input id="fb-comment" placeholder="修改资金事由"/>
    <input id="fb-num" placeholder="数额（元）"/>
    <select id="fb-select2">
        <option value="2" selected="selected">自留资金</option>
        <option value="1">预留资金</option>
    </select>
    <select id="fb-select1">
        <option value="1" selected="selected">增加</option>
        <option value="-1">减少</option>
    </select>
</div>
<div class="manage-main manage-five">
    <table id="fin-table">
        <tr class="manage-title manage-six">
            <td><label for="checkall">全选</label><input type="checkbox" id="checkall"/></td>
            <td>社团</td>
            <td>预留资金</td>
            <td>自留资金</td>
            <td>管理</td>
        </tr>
        <tr class="manage-body" th:each="data:${club}">
            <td><input type="checkbox" name="checkname"/></td>
            <td th:text="${data.clubName}"></td>
            <td th:text="${data.reserveMoney}"></td>
            <td th:text="${data.selfMoney}"></td>
            <td th:text="${data.id}" style="display: none;"></td>
            <td><span class="manage-btn">管理</span></td>
        </tr>
    </table>
</div>
<div class="manage-alert">
    <div class="club-manage manage-in">
        <div class="manage-out"></div>
        <table id="fin-alert-table">
            <tr class="manage-alert-title manage-six">
                <td>社团</td>
                <td>预留资金</td>
                <td>自留资金</td>
                <td>增减</td>
                <td>资金种类</td>
                <td>数额</td>
            </tr>
            <tr class="manage-alert-in">
                <td colspan="5">
                    <input id="comment" type="text" placeholder="请输入修改资金事由"/>
                </td>
                <td><span class="manage-alert-btn" id="finance-btn">提交</span></td>
            </tr>
        </table>
    </div>
</div>
<script src="/js/manage.js"></script>
</html>