
<!--  权限管理  -->



<html xmlns:th="http://www.w3.org/1999/xhtml">
    <!--<div class="manage-header">-->
        <!--<button>删除</button>-->
        <!--<button>批量操作</button>-->
    <!--</div>-->
    <div class="manage-main">
        <table>
            <tr class="manage-title">
                <!--<td><label for="checkall">全选</label><input type="checkbox" id="checkall"/></td>-->
                <td>姓名</td>
                <td>学号/工号</td>
                <td>管理</td>
            </tr>
            <tr class="manage-body" th:each="data:${userInfo}">
                <!--<td><input type="checkbox" name="checkname"/></td>-->
                <td th:text="${data.realName}"></td>
                <td th:text="${data.schoolId}"></td>
                <td><span th:id="${data.id}" class="manage-btn manage-btn4">授权</span></td>
            </tr>
        </table>
    </div>
    <div class="manage-alert manage-power">

    </div>
</html>
<script>
    //powerManage
    $(function () {

        $(".power-confirm").click(function () {

        });
        $(".manage-btn4").click(function(){
            $(".manage-power").load("/user/listAllPower?userId="+$(this).attr("id"));
            $(".manage-alert").show(200);
        });
    });
</script>