
<!--  个人管理  -->



<html xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="manage-header">
        <button>删除</button>
        <button id="manageAll2">批量操作</button>
    </div>
    <div class="manage-main manage-five">
        <table id="fin-table">
            <tr class="manage-title">
                <td><label for="checkall">全选</label><input type="checkbox" id="checkall"/></td>
                <td>姓名</td>
                <td>学号/工号</td>
                <!--<td>所属</td>-->
                <td>管理</td>
            </tr>
            <tr class="manage-body" th:each="data:${userInfo}">
                <td><input type="checkbox" name="checkname"/></td>
                <td th:text="${data.eMail}" style="display: none;"></td>
                <td th:text="${data.id}" style="display: none;"></td>
                <td th:text="${data.tel}" style="display: none;"></td>
                <td th:text="${data.realName}"></td>
                <td th:text="${data.schoolId}"></td>
                <!--<td>betahouse</td>-->
                <td><span class="manage-btn manage-btn2" >管理</span></td>
            </tr>
        </table>
    </div>
    <div class="manage-alert">
        <div class="club-manage manage-in">
            <div class="manage-out"></div>
            <table id="fin-alert-table">
                <tr class="manage-alert-title manage-five">
                    <td>学号/工号</td>
                    <td>姓名</td>
                    <td>密码</td>
                    <td>联系方式</td>
                    <td>邮箱</td>
                </tr>
                <tr class="manage-alert-in">
                    <td colspan="5"><span class="manage-alert-btn" id="user-btn">确认修改</span></td>
                </tr>
            </table>
        </div>
    </div>
    <script src="/js/manage.js"></script>
</html>