<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>您访问的页面不存在</title>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/error.css"/>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav>
    <ul class="nav-right">
        <li onclick="window.location.href='/index'">
            首页
        </li>
    </ul>
    <img src="/img/logo.jpg" style="margin-left: 5%;margin-top: 5px;"/>
</nav>
    <div class="error-warrper">
        <div class="error-img">
            <img src="/img/error.jpg"/>
        </div>
        <div class="error-content">
            <div class="error-content-body">
                <h2 th:text="${status}"/>
                <h4>您要访问的页面不存在！</h4>
                <p>原因可能是</p>
                <ul>
                    <li th:each="info:${errorInfo}"><span th:text="${info}"/></li>
                </ul>
                <h4>您可以这样做</h4>
                <ul>
                    <li><a onclick="javascript:history.back(-1);">返回上一个页面</a></li>
                    <li><a onclick="window.location.href='/index'">回到首页</a></li>
                </ul>
            </div>
        </div>
    </div>
<footer style="position: fixed; bottom:0;">
    <div class="copyright">
        <span>Copyright © | betahouse技术支持 | betahouse版权所有 </span>
    </div>
</footer>
</body>
</html>