<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>登录</title>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/userpage.css"/>
    <link rel="stylesheet" href="/css/inform.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav>
    <ul class="nav-right">
        <!--<a>-->
        <!--<li onclick="window.location.href='/user/register'">-->
            <!--注册-->
        <!--</li>-->
        <!--</a>-->
        <li class="on">
            登录
        </li>
    </ul>
</nav>



<div class="login">
    <h1>用户登录</h1>
    <hr/>
    <form method="post" id="login-form">
        <div><label>用户名</label><input id="username" type="text" name="username"/></div>
        <div><label>密码</label><input id="password" type="password" name="password"/></div>
        <input type="button" id="login-btn" value="登录"/>
        <input type="button" id="login-reset" value="重置"/>
    </form>
</div>

<div class="inform">
    <h1>通知公告</h1>
    <hr/>
    <div class="news" id="demo">
            <li class="news-li" th:each="data:${announcement}">
                    <p th:text="${data.date}"></p>
                <a  target="_blank" th:href="'/information/getAnnouncementById?id='+${data.id}" th:text="${data.title}"></a>
            </li>
    </div>
</div>


<footer>
    <div class="copyright">
        <span>Copyright © | betahouse技术支持 | betahouse版权所有 </span>
    </div>
</footer>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/inform.js"></script>
</body>
</html>



