<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>登录</title>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/userpage.css"/>
    <link rel="stylesheet" href="/css/inform.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav>
    <ul class="nav-right">
        <li onclick="window.location.href='/user/register'">
            注册
        </li>
        <li class="on">
            登录
        </li>
    </ul>
</nav>



<div class="login">
    <h1>用户登录</h1>
    <hr/>
    <form method="post" id="login-form">
        <div><label>用户名</label><input id="username" type="text" name="username"/></div>
        <div><label>密码</label><input id="password" type="password" name="password"/></div>
        <input type="button" id="login-btn" value="登录"/>
        <input type="button" id="login-reset" value="重置"/>
    </form>
</div>

<div class="inform">
    <h1>通知公告</h1>
    <hr/>
    <div class="news" id="demo">
        <div id="demo1">
            <li target="_blank" class="news-li" th:each="data:${announcement}">
                <div class="deta">
                    <dd class="day" th:text="${data.key}"></dd>
                </div>
                <a th:href="@{*}" th:text="${data.value}"></a>
            </li>
        </div>
        <div id="demo2"></div>
    </div>
</div>


<footer>
    <div class="copyright">
        <span>Copyright © <a href="http://expo.bootcss.com"></a></span> |
        <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></span> | hdxg 版权所有
    </div>
</footer>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>


<script>
    //<![CDATA[
//    var speed=40;
//    var demo2=document.getElementById("demo2");
//    var demo1=document.getElementById("demo1");
//    var demo=document.getElementById("demo");
//    demo2.innerHTML=demo1.innerHTML
//    function Marquee(){
//        if(demo2.offsetTop-demo.scrollTop<=0)
//            demo.scrollTop-=demo1.offsetHeight;
//        else{
//            demo.scrollTop++;
//        }
//    }
//    var MyMar=setInterval(Marquee,speed);
//    demo.onmouseover=function() {clearInterval(MyMar)}
//    demo.onmouseout=function() {MyMar=setInterval(Marquee,speed)}

    $('.news-li:odd').css('background-color','#f8f8f8');
    $('.news-li:even').css('background-color','#ebebeb');
    //]]>
    $('.news-li:odd').css('background-color','#f8f8f8');
    $('.news-li:even').css('background-color','#ebebeb');
</script>
