<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>注册</title>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/userpage.css"/>
</head>
<body>
<nav>
    <ul class="nav-right">
        <li class="on">
            注册
        </li>
        <li onclick="window.location.href='/index'">
            登录
        </li>
    </ul>
</nav>

<footer>
    <div class="copyright">
        <span>Copyright © <a href="http://expo.bootcss.com"></a></span> |
        <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></span> | hdxg 版权所有
    </div>
</footer>

<div class="register">
    <h1>用户注册</h1>
    <hr/>
    <form action="/index/register" method="post">
        <label>UserName</label><input id="reg_username" type="text"/>
        <label>Password</label><input id="reg_password" type="password"/>
        <label>RealName</label><input id="reg_realname" type="text"/>
        <label>SchoolId</label><input id="reg_school_id" type="text"/>
        <label>E-Mail</label><input id="reg_email" type="E-Mail"/>
        <label>Club</label><input id="reg_club" type="text"/>
        <label>E-Mail</label><input id="reg_tel" type="E-Mail"/>
        <input type="button"  id="register-btn" value="注册" style="margin-left: 110px;"/>
        <input type="button" id="register-reset" value="重置"/>
    </form>
</div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>