<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>注册</title>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/userpage.css"/>
</head>
<body id="bo-re">
<nav>
    <ul class="nav-right">
        <li class="on">
            注册
        </li>
        <li onclick="window.location.href='/index'">
            登录
        </li>
    </ul>
</nav>

<footer>
    <div class="copyright">
        <span>Copyright © | betahouse技术支持 | betahouse版权所有 </span>
    </div>
</footer>

<div class="register">
    <h1>用户注册</h1>
    <hr/>
    <form action="/user/addAccount" method="post">
        <label>UserName</label><input name="reg_username" type="text"/>
        <label>Password</label><input name="reg_password" type="password"/>
        <label>RealName</label><input name="reg_realname" type="text"/>
        <label>SchoolId</label><input name="reg_school_id" type="text"/>
        <label>Tel</label><input name="reg_tel" type="text"/>
        <label>E-Mail</label><input name="reg_email" type="text"/>
        <input type="submit"  id="register-btn" value="注册" style="margin-left: 110px;"/>
        <input type="button" id="register-reset" value="重置"/>
    </form>
</div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>