<html xmlns:th="http://www.w3.org/1999/xhtml">
<form action="#"  method="post"  class="appli-form"  id="appli-form">
    <div class="form-inline">
        <div class="form-group">
            <label>承办组织</label>
            <input disabled="disabled"  type="text" name="#" value="123"/>
        </div>
        <div class="form-group">
            <label>责任人</label>
            <input disabled="disabled"  type="text" name="#" value="123"/>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label>联系电话</label>
            <input   type="text" name="#"/>
        </div>
        <div class="form-group">
            <label>活动名称</label>
            <input   type="text" name="#"/>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label>活动地点</label>
            <input   type="text" name="#"/>
        </div>
        <div class="form-group">
            <label>活动时间</label>
            <input id="time1" placeholder="开始日期" class="laydate-icon" style="width: 26%; " onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>  -
            <input id="time2" placeholder="结束日期" class="laydate-icon" style="width: 26%; " onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>
            <input id="timekey" type="text" name="#" style="display: none;"/>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label>物品清单</label>
            <input   type="text" name="#"/>
        </div>
        <div class="form-group">
            <label>经费预算</label>
            <input   type="text" name="#"/>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label class="areatitle">活动内容</label>
            <textarea></textarea>
        </div>
        <div class="form-group">
            <label class="areatitle">宣传方式</label>
            <textarea></textarea>
        </div>
    </div>
</form>
</html>