<div class="manage-header">
    <button class="formlist-radio2">已通过</button>
    <button class="formlist-radio3">未通过</button>
    <button class="formlist-radio1">审批中</button>
    <button  class="on formlist-all">全部</button>
</div>
<ul xmlns:th="http://www.w3.org/1999/xhtml" class="formlist-ul">
    <li th:each="data:${data}">
        <label class="formlist-label" th:text="${data.value[1]}" style="display: none;"></label>
        <a class="left clear" target="_blank" th:href="'/applyClubForm/getFormById?id='+${data.key}" th:text="'【'+${data.value[1]}+'/'+${data.value[2]}+'】'+${data.value[0]}"></a>
    </li>
</ul>
<script>

    //<![CDATA[
    $("#apply-btn").click(function () {
        var club = $("#club").val();
        var act_name = $("#activity_name").val();
        var act_place = $("#activity_place").val();
        var act_time = $("#activity_time").val();
        var act_people = $("#activity_people").val();
        var is_fine = $("#is_apply_fine").val();
        var act_info = $("#activity_info").val();
        var data={
            "club":club,
            "activityName":act_name,
            "activityPlace":act_place,
            "activityTime":act_time,
            "activityPeople":act_people,
            "isApplyFine":is_fine,
            "activityInfo":act_info
        };
        console.log(data);
        $.ajax({
            type: "POST",
            url: "/applyForm/commitClubActivity",
            data: data,
            dataType:"json",
            success: function(data){
                if(data.status==0){
                    alert(data.info);
                }
                else {
                    alert('wrong');
                }
            },
            error: function(data){
                alert('Error');
            }
        });
    }) ;
    //]]>
</script>
<script src="/js/clubForm.js"></script>