<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>用户中心</title>
    <link id="tabset-css" rel="stylesheet" href="/css/tabset.css"/>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/club.css"/>
    <link rel="stylesheet" href="/css/inform.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<p th:each="licence:${licence}" style="display: none"><span th:text="${licence}" class="licence"></span></p>
    <nav>
        <ul class="nav-left">
            <a>
                <li style="margin-left: -5%;" onclick="location=location">
                    首页
                </li>
            </a>
            <a th:href="@{user/userInfo}">
                <li onclick="location='/user/userInfo'">
                    信息管理
                </li>
            </a>
            <a href="#">
                <li class="on">
                    申请管理
                </li>
            </a>
            <a href="/user/logout">
                <li>退出</li>
            </a>
        </ul>
    </nav>
    <content>
        <div class="sub-nav">
            <div class="sub-ft sub-item" id="sub-n1">
                社团活动申请表
            </div>
            <div class="sub-child">
                <ul>
                    <li class="sub-item" id="form-appli">申请</li>
                    <li class="sub-item" id="form-view">查看</li>
                    <li class='sub-item' id='form-manage'>管理</li>
                </ul>
            </div>
            <div class="sub-ft sub-item" id="sub-n2">
                subnav 2
            </div>
            <div class="sub-child">
                <ul>
                    <li class="sub-item">option1</li>
                    <li class="sub-item">option2</li>
                </ul>
            </div>
            <div class="sub-ft sub-item" id="sub-n3">
                subnav 3
            </div>
            <div class="sub-child">
                <ul>
                    <li class="sub-item">option1</li>
                    <li class="sub-item">option2</li>
                </ul>
            </div>
        </div>
        <div id='circular' class='loading'>
            <div id='circular_1' class='circular'></div>
            <div id='circular_2' class='circular'></div>
            <div id='circular_3' class='circular'></div>
            <div id='circular_4' class='circular'></div>
            <div id='circular_5' class='circular'></div>
            <div id='circular_6' class='circular'></div>
            <div id='circular_7' class='circular'></div>
            <div id='circular_8' class='circular'></div>
            <div class='clearfix'></div>
        </div>
        <div class="sub-content">
            <div class="content-nav">
                欢迎你，
            </div>
            <div class="content-body">



                <div class="inform" id="inform">
                    <h1>通知公告</h1>
                    <hr/>
                    <ul id="inform-ul">
                        <a id="news-g">公告</a>
                        <a id="news-t">通知</a>
                    </ul>




                    <div class="news" id="demo-t">
                        <div class="suit">
                            <li target="_blank" class="news-li">
                                <p>"deta"</p>
                                <a title="-----获取通知---------全部信息显示----------" th:href="@{*}" >
                                    ----------获取通知------------------------------------------</a>
                            </li>
                            <li target="_blank" class="news-li">
                                <p>"deta"</p>
                                <a title="-----获取通知---------全部信息显示----------" th:href="@{*}" >
                                    ----------获取通知------------------------------------------</a>
                            </li>
                            <li target="_blank" class="news-li">
                                <p>"deta"</p>
                                <a title="-----获取通知---------全部信息显示----------" th:href="@{*}" >
                                    ----------获取通知------------------------------------------</a>
                            </li>
                            <li target="_blank" class="news-li">
                                <p>"deta"</p>
                                <a title="-----获取通知---------全部信息显示----------" th:href="@{*}" >
                                    ----------获取通知------------------------------------------</a>
                            </li>
                            <li target="_blank" class="news-li">
                                <p>"deta"</p>
                                <a title="-----获取通知---------全部信息显示----------" th:href="@{*}" >
                                    ----------获取通知------------------------------------------</a>
                            </li>
                            <li target="_blank" class="news-li">
                                <p>"deta"</p>
                                <a title="-----获取通知---------全部信息显示----------" th:href="@{*}" >
                                    ----------获取通知------------------------------------------</a>
                            </li>
                        </div>
                    </div>



                    <div class="news" id="demo-g">
                        <div class="suit">
                            <li target="_blank" class="news-li">
                                <p>"deta"</p>
                                <a title="-----获取通知---------全部信息显示----------" th:href="@{*}" >
                                    ----------获取通知------------------------------------------</a>
                            </li>
                        </div>
                    </div>


                    <ul style="margin-top: 310px;font-size: 1vw">
                        <a href="*">More>></a></ul>

                </div>
            </div>
        </div>
    </content>

    <footer>
        <div class="copyright">
            <span>Copyright © <a href="http://expo.bootcss.com"></a></span> |
            <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></span> | hdxg 版权所有
        </div>
    </footer>
<script src="/js/jquery.js"></script>
<script src="/js/main.js"></script>
<script src="/js/tabset.js"></script>
<script src="/js/laydate.js"></script>
</body>
</html>


<script type="text/javascript">

    //VIEW CONTROL
    function  licenceControl(index) {
        if(index==3){
            $("#form-appli").show();
        }
        if(index==4){
            $("#form-view").show();
        }
        if(index==5){
            $("#form-manage").show();
        }
    }
    $(function () {
        $(".licence").each(function () {
            licenceControl($(this).html());
        });
    });



    //<![CDATA[
    $("#news-g").bind("click",function (event) {
        $("#demo-t").hide();$("#demo-g").show();
    });
    $("#news-t").bind("click",function (event) {
        $("#demo-g").hide();$("#demo-t").show();
    });
    //]]>
</script>