<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>信息管理</title>
    <link id="tabset-css" rel="stylesheet" href="/css/tabset.css"/>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/inform.css"/>
    <link rel="stylesheet" href="/css/manage.css"/>
    <link rel="stylesheet" href="/css/list.css"/>
    <link rel="stylesheet" href="/css/club.css"/>

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav>
    <ul class="nav-left">
        <a href="/index">
            <li style="margin-left: -5%;">
                首页
            </li>
        </a>
        <a>
            <li  class="on">
                信息管理
            </li>
        </a>
        <a th:href="@{/index}">
            <li>
                申请管理
            </li>
        </a>
        <a href="/user/logout">
            <li>退出</li>
        </a>
    </ul>
</nav>
<content>

    <div class="sub-nav">
        <div class="sub-ft sub-item  flag3" id="sub-n1" name="用户管理">
            <div class="tab-icon">
                <img src="../img/indexIcon/userManage.png"/>
            </div>
            <div class="tab-li">
                用户管理
            </div>
            <div class="tab-icon">
                <img src="../img/indexIcon/bottom.png"/>
            </div>
        </div>
        <div class="sub-child" >
            <ul>
                <li class="sub-item" id="powerManage" name="权限管理">
                    <div class="tab-icon">
                        <img src="../img/indexIcon/powerManage.png"/>
                    </div>
                    <div class="tab-li">
                        权限管理
                    </div>
                </li>
                <li class="sub-item" id="userManage" name="用户管理">
                    <div class="tab-icon">
                        <img src="../img/indexIcon/usersManage.png"/>
                    </div>
                    <div class="tab-li">
                        用户管理
                    </div>
                </li>
                <li class="sub-item" id="selfManage" name="个人管理">
                    <div class="tab-icon">
                        <img src="../img/indexIcon/selfManage.png"/>
                    </div>
                    <div class="tab-li">
                        个人管理
                    </div>
                </li>
            </ul>
        </div>
        <div class="sub-ft sub-item  flag4" id="sub-n2" name="社团财务">
            <div class="tab-icon">
                <img src="../img/indexIcon/finance.png"/>
            </div>
            <div class="tab-li">
                社团财务
            </div>
            <div class="tab-icon">
                <img src="../img/indexIcon/bottom.png"/>
            </div>
        </div>
        <div class="sub-child">
            <ul>
                <li class="sub-item" id="financeT" name="财务流水">
                    <div class="tab-icon">
                        <img src="../img/indexIcon/financet.png"/>
                    </div>
                    <div class="tab-li">
                        财务流水
                    </div>
                </li>
                <li class="sub-item" id="financeB" name="财务管理">
                    <div class="tab-icon">
                        <img src="../img/indexIcon/financeb.png"/>
                    </div>
                    <div class="tab-li">
                        财务管理
                    </div>
                </li>
            </ul>
        </div>
        <div class="sub-ft sub-item  flag5"  id="sub-n3" name="信息管理">
            <div class="tab-icon">
                <img src="../img/indexIcon/information.png"/>
            </div>
            <div class="tab-li">
                信息管理
            </div>
            <div class="tab-icon">
                <img src="../img/indexIcon/bottom.png"/>
            </div>
        </div>
        <div class="sub-child">
            <ul>
                <li class="sub-item" id="doMessage" name="写公告">
                    <div class="tab-icon">
                        <img src="../img/indexIcon/domessage.png"/>
                    </div>
                    <div class="tab-li">
                        写公告
                    </div>
                </li>
                <li class="sub-item" id="changeMessage" name="编辑公告">
                    <div class="tab-icon">
                        <img src="../img/indexIcon/messagemanage.png"/>
                    </div>
                    <div class="tab-li">
                        编辑公告
                    </div>
                </li>
            </ul>
        </div>
        <div class="sub-ft sub-item  flag5"  id="clubManage" name="社团管理">
            <div class="tab-icon">
                <img src="../img/indexIcon/clubmanage.png"/>
            </div>
            <div class="tab-li">
                社团管理
            </div>
            <div class="tab-icon">
                <img src="../img/indexIcon/bottom.png"/>
            </div>
        </div>
    </div>

    <div class="sub-content">
        <div class="content-nav" th:inline="text">
            欢迎你，[[${user.realName}]]
        </div>
        <div class="content-body">

        </div>
</div>
</content>
<footer>
    <div class="copyright">
        <span>Copyright © | betahouse技术支持 | betahouse版权所有 </span>
    </div>
</footer>
<script src="/js/jquery.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/tabset.js"></script>
<script src="/js/laydate.js"></script>
<script src="/js/manage.js"></script>
<script src="/js/wangEditor.min.js"></script>
</body>
</html>