<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserCenter</title>
    <script type="text/javascript" src="<?php echo _STATIC_; ?>js/jquery.js"></script>
</head>
<body>
<h1>这是用户中心</h1>
<h2>欢迎你，
    <?php
    echo $clubInfo['club_name'].'社长'.$user['real_name'];
?>
</h2>
<button type="button"  id="my-form-club">查看社团申请表</button>
<h1>社团活动提交</h1>
<form action="" method="post">
    <p>申办社团</p><input value="<?php echo $clubInfo['club_name']; ?>" id="club" type="text">
    <p>活动名称</p><input id="activity_name" type="text">
    <p>活动地点</p><input id="activity_place" type="text">
    <p>活动时间</p><input id="activity_time" type="text">
    <p>面向对象及人数</p><input id="activity_people" type="text">
    <p>是否申请优质社团</p><input id="is_apply_fine" type="text">
    <p>活动简介</p><textarea id="activity_info"></textarea>
    <p>当前社费金额</p><input value="<?php echo $clubInfo['money']; ?>"  id="now_self_money" type="text">
    <p>使用社费</p><input id="apply_self_money" type="text">
    <p>当前社联金额</p><input id="now_common_money" type="text">
    <p>申请使用社联费用</p><input id="apply_common_money" type="text">
    <button type="button"  id="apply-btn">提交</button>
</form>
<script>
    $("#my-form-club").click(function () {
        $(location).attr('href',"/applyClubForm/getListAllForm");
    }) ;
    $("#apply-btn").click(function () {
        var club = $("#club").val();
        var act_name = $("#activity_name").val();
        var act_place = $("#activity_place").val();
        var act_time = $("#activity_time").val();
        var act_people = $("#activity_people").val();
        var is_fine = $("#is_apply_fine").val();
        var act_info = $("#activity_info").val();
        var apply_self_money = $("#apply_self_money").val();
        var apply_common_money = $("#apply_common_money").val();
            var data={
                "club":club,
                "activityName":act_name,
                "activityPlace":act_place,
                "activityTime":act_time,
                "activityPeople":act_people,
                "isApplyFine":is_fine,
                "activityInfo":act_info,
                "applySelfMoney":apply_self_money,
                "applyCommonMoney":apply_common_money
            };
            console.log(data);
            $.ajax({
                type: "POST",
                url: "/applyClubForm/commitClubActivity",
                data: data,
                dataType:"json",
                success: function(data){
                    if(data.status==0){
                        alert(data.info);
                    }
                    else {
                        alert('wrong');
                    }
                },
                error: function(data){
                    alert('Error');
                }
            });
    }) ;
</script>
<a href="/user/logout">退出登录</a>

</body>
</html>