<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息管理</title>
    <link rel="stylesheet" href="<?php echo _STATIC_; ?>css/base.css">
</head>
<body>
<nav>
    <ul class="nav-left">
        <a href="#">
            <li class="on">
                信息管理
            </li>
        </a>
        <a href="#">
            <li>
                申请管理
            </li>
        </a>
        <a href="/user/logout">
            <li>退出</li>
        </a>
    </ul>
</nav>
</body>
</html>