.inform{
    height: 280px;
    width: 50%;
    margin: 2%;
    overflow: hidden;
}
.inform ul{
    float: right;
    text-align: left;
    padding-right: 1%;
    height: 20px;
    white-space: nowrap;
    font-size: 40%;
    border-top: 1px solid #e2e2e2;
    transition: all .2s;
    -webkit-transition: all .2s;
}
.inform ul a{
    float: right;
    width: 20px;
    padding-right: 20px;
    line-height: 20px;
    color: #050001;
    text-decoration:none;
    outline:none;
}
.inform h1 {
    color: #5c5a5d;
    margin: 10px 0 10px 40px; }
.inform hr {
    -webkit-box-shadow: 0 1px 1px #5c5a5d;
    -moz-box-shadow: 0 1px 1px #5c5a5d;
    box-shadow: 0 1px 1px #5c5a5d; }
#inform{
    left: 20%;
    width: 50%;
    height: 400px;
    margin-top: -20px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    margin-top: 0px;}
#inform-ul{
    margin-top: -30px;
    border-top: none;
    font-size: 1vw;}
#demo-g{
    display: none;
}
.news{
    margin-top: 10px;
    height: 100%;
    width: 100%;
    overflow:hidden;
    position: absolute;
}
.news li{
    list-style-type: none;
    width: 90%;
    overflow: hidden;
    min-height: 30px;
    font-size: 1vw;
    margin: 12px 0 10px 5%;}
.news li .date{
    width: 10%;
    height: 52px;
    float: left;}
.news li .date dd{
    text-align: left;}
.news li .date dd .day{
    text-align: center !important;
    width: 90%;
    border-bottom: solid 1px white;
    margin-left: 3px;
    padding: 4px 0;
    color: white;}
.news li a{
    float: left;
    overflow: hidden;
    width: 90%;
    margin-top: -21px;
    line-height: 26px;
    color: #050001;
    text-decoration:none;
    outline:none;}
.news li a:hover{
    color:#000;
    text-decoration:underline;}
#demo-g,#demo-t{
    height: 290px; }

@media screen and (min-width: 768px){
    .inform{
        -webkit-box-shadow: 0 1px 3px #5c5a5d;
        -moz-box-shadow: 0 1px 3px #5c5a5d;
        box-shadow: 0 1px 3px #5c5a5d;
    }
}
@media screen and (min-width: 1600px){
    .inform{
        width: 45%;
        position: absolute;
        left: 10%;
    }
}
@media screen and (min-width: 1400px) and (max-width: 1600px) {
    .inform{
        position: absolute;
        left: 5%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
    .inform{
        position: absolute;
        left: 3%;
        width: 50%;

    }
}
@media screen and (max-width: 767px){
    .news{
        width: 97%;
    }
    .inform{
        width: 95%;
        margin:5% auto;
        border:none;
        -webkit-box-shadow: 0 ;
        -moz-box-shadow: 0 ;
        box-shadow: 0 ;
    }
    .news li{
        display: block;
        height: 60px;
        width: 95%;
        margin:0;
        padding:0;
    }
    .inform h1{
        font-size: 22px;
    }
}