.inform{
    -webkit-box-shadow: 0 1px 3px #5c5a5d;
    -moz-box-shadow: 0 1px 3px #5c5a5d;
    box-shadow: 0 1px 3px #5c5a5d;
    height: 280px;
    width: 650px;
    margin: 25px;
    position: absolute;
    left: 10%;
}
.inform ul{
    float: right;
    text-align: left;
    padding-right: 35px;
    height: 20px;
    white-space: nowrap;
    font-size: 15px;
    border-top: 1px solid #e2e2e2;
    transition: all .2s;
    -webkit-transition: all .2s;
}
.inform ul a{
    float: right;
    width: 20px;
    padding-right: 20px;
    line-height: 20px;
    color: #050001;
    text-decoration:none;
    outline:none;
}
.inform h1 {
    color: #5c5a5d;
    margin: 10px 0 10px 40px; }
.inform hr {
    -webkit-box-shadow: 0 1px 1px #5c5a5d;
    -moz-box-shadow: 0 1px 1px #5c5a5d;
    box-shadow: 0 1px 1px #5c5a5d; }
#inform{
    left: 20%;
    width: 50%;
    height: 400px;
    margin-top: -20px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    margin-top: 0px;}
#inform-ul{
    margin-top: -30px;
    border-top: none;}
#demo-g{
    display: none;
}
.news{
    margin-top: 10px;
    height: 210px;
    width: 100%;
    overflow:hidden;
    position: absolute;
}
.news li{
    list-style-type: none;
    width: 90%;
    overflow: hidden;
    height: 30px;
    margin: 12px 0 10px 70px;}
.news li .date{
    width: 57px;
    height: 52px;
    float: left;}
.news li .date dd{
    text-align: left;}
.news li .date dd .day{
    text-align: center !important;
    width: 46px;
    border-bottom: solid 1px white;
    margin-left: 3px;
    padding: 4px 0;
    color: white;}
.news li a{
    float: left;
    overflow: hidden;
    width: 80%;
    margin-top: -21px;
    margin-left: 100px;
    line-height: 26px;
    color: #050001;
    text-decoration:none;
    outline:none;}
.news li a:hover{
    color:#000;
    text-decoration:underline;}
#demo-g,#demo-t{
    height: 290px;}
#demo1{
    width: 90%;}