content {
  color: #5c5a5d; }

.sub-nav {
  width: 20%;
  float: left; }
.sub-nav .sub-ft {
  background-color: #f7f7f7; }
.sub-nav .sub-item {
  height: 50px;
  line-height: 50px;
  text-align: center; }
.sub-nav .on {
  background: #ecf7fd;
  border-right: solid #258ac0 3px;
  box-sizing: border-box; }
.sub-nav .sub-child {
  display: none; }


.sub-content {
  width: 80%;
  float: left;
  background-color: #ececec; }
.sub-content .content-nav {
  margin: 20px; }
.sub-content .content-body {
  background-color: #FFF;
  margin: 20px;
  margin-right: 10%;
  min-height: 400px;
  padding: 20px; }
.sub-content .content-body li {
  border-bottom: solid 1px #ececec;
  height: 50px;
  line-height: 50px; }
.sub-content .content-body li a:hover, .sub-content .content-body li a:visited, .sub-content .content-body li a:link, .sub-content .content-body li a:active {
  color: #5c5a5d; }

.sub-content .appli-form input:disabled {
  background-color: #FFF;
  border: solid 1px #FFF; }

#circular {
  margin-top: 15px;
  width: 64px;
  float: left; }

.circular {
  background-color: #5FB7FF;
  float: left;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-animation-name: bounce_circular;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear; }

#circular_1 {
  margin-top: 25px;
  -webkit-animation-delay: .3s; }

#circular_2 {
  margin-left: -8px;
  margin-top: 9px;
  -webkit-animation-delay: .4s; }

#circular_3 {
  margin-top: 1px;
  -webkit-animation-delay: .5s; }

#circular_4 {
  margin-left: 0;
  margin-top: 9px;
  -webkit-animation-delay: .6s; }

#circular_5 {
  margin-left: -8px;
  margin-top: 25px;
  -webkit-animation-delay: .7s; }

#circular_6 {
  margin-left: -22px;
  margin-top: 40px;
  -webkit-animation-delay: .8s; }

#circular_7 {
  margin-left: -37px;
  margin-top: 48px;
  -webkit-animation-delay: .9s; }

#circular_8 {
  margin-left: -53px;
  margin-top: 41px;
  -webkit-animation-delay: 1s; }

@-webkit-keyframes bounce_circular {
  0% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0.3); } }
.loading {
  display: none;
  position: absolute;
  top: 40%;
  left: 55%; }

.f-flow{
  display: none;
  width: 100%;
  min-height: 400px;
  text-align: center;
  overflow-y: visible;}
.f-flow table{
  min-height: 35px;
  width: 80%;
  margin-left: 10%;
}
.f-flow table th{
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  padding: 5px;
  height: 20px;
  width: 120px;
  border: 2px solid #e3e3e3;
}
.f-flow table td{
  text-align: center;
  padding: 5px;
  height: 20px;
  width: 120px;
  border-top: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
}
.f-flow ul{
  width: 270px;
  height: 30px;
  margin-top: -60px;
  float: right;
}
a:hover{
  color: #FFAEB9;}
.check-view{
  width: 100%;
  height: 100%;
  display: none;
  float: left;
  position: absolute;
  top: 0;
  z-index: 9998;
  opacity: 0.6;
  background-color: #cccccc;}
.check-window{
  width: 60%;
  height: 60%;
  position: absolute;
  z-index: 9999;
  display: none;
  float: top;
  border: 2px solid #FFAEB9;
  margin-left: 20%;
  margin-top: 70px;
  background-color: #FFF;}
.check-window ul{
  width: 47%;
  height: 100%;
  overflow:auto;
  float: left;
  margin-left: 2%;  }
.check-window ul::-webkit-scrollbar {
  display: none;}
.check-window ul li{
  width:90%;
  height: 40px;
  margin: 7%;
  word-wrap:break-word;}
.check-window ul li input,select{
  width: auto;
  margin-left: 5%;
  /*white-space:nowrap;*/
}
#check-out,#power-out{
  position:absolute;
  bottom:0;
  text-align: right;
  list-style-type: none;
  width:100%;
  height:30px}
#check-out-click,#power-out-click,#power-admin{
  float: right;
  padding: 0 5px 0 5px;
  margin-bottom:5px;
  margin-right: 10px;}
/*# sourceMappingURL=tabset.css.map */
@media screen and (min-width: 768px){
  .sub-nav .sub-item:hover {
    background-color: #ecf7fd;
    cursor: pointer; }
  .sub-nav .sub-item{
    width: 100%;
  }
}
@media screen and (max-width: 767px){
  .sub-nav{
    height: 60px;
    margin:2% 1.5% 0 1.5%;
    width:100%;
    font-size: 20%;
    float: none;
  }
  .sub-content{
    width: 95%;
    margin: 5px auto;
    float: none;
    clear: both;
    background-color: #FFFFFF;
  }
  .sub-item{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin:0 1%;
    float: left;
    width: 30%;
  }
  #sub-n1{
    color:#FFFFFF;
    background-color: #ffd822;
  }
  #sub-n2{
    color:#FFFFFF;
    background-color: #20ad12;
  }
  #sub-n3{
    color:#FFFFFF;
    background-color: #d62929;
  }
  .content-nav{
    display: none;
  }
  .sub-child .sub-item{
    color:#b3b3b3;
    background-color: #faf5f5;
  }
  .sub-content .content-body {
    padding:0;
  }
}