content {
  color: #5c5a5d; }
#form-appli , #form-manage ,#form-view ,#userManage , #powermanage , #financeT,#financeB,#doMessage,#clubmanage{
  display: none;  }
.sub-nav {
  width: 20%;
  float: left; }
.sub-nav .sub-ft {
  background-color: #f7f7f7; }
.sub-nav .sub-item {
  height: 50px;
  line-height: 50px;
  text-align: center; }
.sub-nav .on {
  background: #ecf7fd;
  border-right: solid #258ac0 3px;
  box-sizing: border-box; }
.sub-nav .sub-child {
  display: none; }


.sub-content {
  width: 80%;
  float: left;
  background-color: #ececec; }
.sub-content .content-nav {
  margin: 20px; }
.content-body {
  background-color: #FFF;
  margin: 20px;
  margin-right: 2%;
  min-height: 400px;
  padding: 20px; }
.sub-content .content-body li {
  border-bottom: solid 1px #ececec;
  height: 50px;
  line-height: 50px; }
.sub-content .content-body li a:hover, .sub-content .content-body li a:visited, .sub-content .content-body li a:link, .sub-content .content-body li a:active {
  color: #5c5a5d; }

.sub-content .appli-form input:disabled {
  background-color: #FFF;
  border: solid 1px #FFF; }

#circular {
  margin-top: 15px;
  width: 64px;
  float: left; }

.circular {
  background-color: #5FB7FF;
  float: left;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-animation-name: bounce_circular;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear; }

#circular_1 {
  margin-top: 25px;
  -webkit-animation-delay: .3s; }

#circular_2 {
  margin-left: -8px;
  margin-top: 9px;
  -webkit-animation-delay: .4s; }

#circular_3 {
  margin-top: 1px;
  -webkit-animation-delay: .5s; }

#circular_4 {
  margin-left: 0;
  margin-top: 9px;
  -webkit-animation-delay: .6s; }

#circular_5 {
  margin-left: -8px;
  margin-top: 25px;
  -webkit-animation-delay: .7s; }

#circular_6 {
  margin-left: -22px;
  margin-top: 40px;
  -webkit-animation-delay: .8s; }

#circular_7 {
  margin-left: -37px;
  margin-top: 48px;
  -webkit-animation-delay: .9s; }

#circular_8 {
  margin-left: -53px;
  margin-top: 41px;
  -webkit-animation-delay: 1s; }

@-webkit-keyframes bounce_circular {
  0% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0.3); } }
.loading {
  display: none;
  position: absolute;
  top: 40%;
  left: 55%; }


/*# sourceMappingURL=tabset.css.map */
@media screen and (min-width: 768px){
  .sub-nav .sub-item:hover {
    background-color: #ecf7fd;
    cursor: pointer; }
  .sub-nav .sub-item{
    width: 100%;
  }
}
@media screen and (max-width: 767px){
  .sub-nav{
    height: 60px;
    margin:2% 1.5% 0 1.5%;
    width:98.5%;
    font-size: 20%;
    float: none;
  }
  .sub-content{
    width: 95%;
    margin: 5px auto;
    float: none;
    clear: both;
    background-color: #FFFFFF;
  }
  .sub-item{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin:0 1%;
    float: left;
    width: 30%;
  }
  #sub-n3{
    color:#FFFFFF;
    background-color: #297CBB;
  }
  #sub-n1{
    color:#FFFFFF;
    background-color: #684e79;
  }
  #sub-n2{
    color:#FFFFFF;
    background-color: #bf538d;
  }
  .content-nav{
    display: none;
  }
  .sub-child .sub-item{
    color:#FFFFFF;
    background-color: #47a899;
  }
  .sub-content .content-body {
    padding:0;
  }
}