.inform{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: rgba(255,255,255,0.7);
}
.login {
  background: rgba(255,255,255,0.7);
  -webkit-box-shadow: 0 1px 3px #5c5a5d;
  -moz-box-shadow: 0 1px 3px #5c5a5d;
  box-shadow: 0 1px 3px #5c5a5d;
  height: 280px;
  width: 30%;
  margin: 2%;
 }
.login label, .login input {
  margin-bottom: 20px;
  margin-top: 20px; }
.login label {
  color: #4b4a4c;
  text-align: center;
  display: inline-block;
  width: 20%;
  height: 30px;
  margin: 0 10px; }
.login input[type='submit'], .login input[type='button'] {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  outline: none;
  margin-left: 10%;
  width: 32%;
  height: 30px;
  border: solid #ffffff 1px;
  color: #FFF;
  background-color: #5c5a5d; }
.login input[type='submit']:hover, .login input[type='button']:hover {
  background-color: #373131;
  cursor: pointer;
 }
.login input[type='text'] {
  width: 68%;
  height: 30px;
  border: solid #5c5a5d 1px;
  color: #5c5a5d; }
.login input[type='password'] {
  width: 68%;
  height: 35px;
  border: solid #5c5a5d 1px;
  color: #5c5a5d; }
.login h1 {
  color: #5c5a5d;
  margin: 10px 0 10px 40px; }
.login hr {
  -webkit-box-shadow: 0 1px 1px #5c5a5d;
  -moz-box-shadow: 0 1px 1px #5c5a5d;
  box-shadow: 0 1px 1px #5c5a5d; }

#bo-re{text-align: center;}
.register{
  -webkit-box-shadow: 0 1px 3px #5c5a5d;
  -moz-box-shadow: 0 1px 3px #5c5a5d;
  box-shadow: 0 1px 3px #5c5a5d;
  min-height: 400px;
  width: 64%;
  padding: 2%;
  background: rgba(255,255,255,0.7);
  border-radius: 5px;
  margin: 50px auto;
}
.register label, .register input {
  margin-bottom: 20px;
  margin-top: 20px;
  background: none;}
.register label {
  color: #5c5a5d;
  text-align: center;
  display: inline-block;
  width: 10%;
  font-size: 1.2vw;
  height: 30px;  }
.register input[type='submit'], .register input[type='button'] {
  outline: none;
  width: 20%;
  margin-left: auto !important;
  height: 35px;
  border-radius: 5px;
  background: #67BFE4;
  border: solid #5c5a5d 1px;
  color: #5c5a5d; }
.register input[type='submit']:hover, .register input[type='button']:hover {
  cursor: pointer;
  color: #FFF;
  background-color: #5c5a5d; }
.register input[type='text'] {
  width: 35%;
  height: 30px;
  outline: none;
  border-bottom: solid #5c5a5d 2px;
  border-left: none;
  border-top: none;
  border-right: none;
  color: #5c5a5d; }
.register input[type='password'] {
  width: 35%;
  height: 35px;
  outline: none;
  color: #5c5a5d;
  border-bottom: solid #5c5a5d 2px;
  border-left: none;
  border-top: none;
  border-right: none;}
.register input[type='E-mail'] {
  width: 35%;
  height: 30px;
  outline: none;
  border-bottom: solid #5c5a5d 2px;
  border-left: none;
  border-top: none;
  border-right: none;
  color: #5c5a5d; }
.register h1 {
  color: #5c5a5d;
  margin: 0 0 20px 0; }
.register hr {
  -webkit-box-shadow: 0 1px 1px #5c5a5d;
  -moz-box-shadow: 0 1px 1px #5c5a5d;
  box-shadow: 0 1px 1px #5c5a5d; }

/*# sourceMappingURL=userpage.css.map */
@media screen and (min-width: 1600px){
  .login{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
    right: 8%;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .login{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
    right: 5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .login{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
    right: 3%;
    width: 35%;
  }
}
@media screen and (max-width: 780px){
  .register input[type='text'],.register input[type='password'],.register input[type='E-mail']{width: 75%;margin: 2%}
}
@media screen and (max-width: 767px){
  .login{
    background: rgba(255,255,255,0.5);
    width: 100%;
    margin:0 auto;
    border:none;
    -webkit-box-shadow: 0 ;
    -moz-box-shadow: 0 ;
    box-shadow: 0 ;
  }
  hr{
    display: none;
    margin:0;
  }
  .login h1{
    font-size: 22px;
    margin-top:0;
    width: 50%;
    display: block;
    padding-top: 10px;
  }
  #login-form div{
    border-bottom: solid 0.5px #f4f4f4;
  }
  .login input[type='button']{
    background-color: #4a8eff;
    border:none;
    color:#FFFFFF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  #login-btn{
    background-color: #36c963;
    border:none;
    corlor:#FFFFFF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }
}
@media screen and (max-width: 450px) and (max-width: 387px){
  .register{width: 90%;
    margin-top: 10px;  }
  .register label{margin-left: 0}
  .register h1{margin: 10px 0 10px 0px; }
}