<html xmlns:th="http://www.w3.org/1999/xhtml">
<form action="#"  method="post"  class="appli-form"  id="appli-form">
    <div class="form-inline">
        <div class="form-group">
            <label>承办组织</label>
            <input disabled="disabled"  type="text" name="#" th:value="${organizationName}"/>
        </div>
        <div class="form-group">
            <label>责任人</label>
            <input disabled="disabled"  type="text" name="#" th:value="${user.realName}"/>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label>联系电话</label>
            <input   type="text" name="#" th:value="${user.tel}"/>
        </div>
        <div class="form-group">
            <label>活动名称</label>
            <input   type="text" name="#"/>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label>活动地点</label>
            <input   type="text" name="#"/>
        </div>
        <div class="form-group">
            <label>活动时间</label>
            <input id="time1" placeholder="开始日期" class="laydate-icon" style="width: 26%; " onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>  -
            <input id="time2" placeholder="结束日期" class="laydate-icon" style="width: 26%; " onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>
            <input id="timekey" type="text" name="#" style="display: none;"/>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label>物品清单</label>
            <input   type="text" name="#"/>
        </div>
        <div class="form-group">
            <label>经费预算</label>
            <input   type="text" name="#"/>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label class="areatitle">活动内容</label>
            <textarea></textarea>
        </div>
        <div class="form-group">
            <label class="areatitle">宣传方式</label>
            <textarea></textarea>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label>教务资源</label>
            <label><input id="formtest" class="form2-control" name="#" type="radio" value="1"/>使用</label>
            <label><input name="#" type="radio" value="0"/>不使用</label>
            <input class="form2-input" name="#" placeholder="使用教室/桌椅"/>
        </div>
        <div class="form-group">
            <label>公共事业部</label>
            <label><input id="form2-control1" name="#" type="radio" value="1"/>用电</label>
            <label><input id="form2-control2" name="#" type="radio" value="0"/>用水</label>
        </div>
        <div class="form-inline form2-input" id="form2-control3">
            <input name="#" placeholder="用电量"/>
            <label>活动时间</label>
            <input id="form-time1" placeholder="开始用电" class="laydate-icon" style="width: 26%; " onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>  -
            <input id="form-time2" placeholder="结束用电" class="laydate-icon" style="width: 26%; " onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>
            <input id="form-timekey1" type="text" name="#" style="display: none;"/>
        </div>
        <div class="form-inline form2-input" id="form2-control4">
            <input  name="#" placeholder="用水量"/>
            <label>活动时间</label>
            <input id="form-time3" placeholder="开始用水" class="laydate-icon" style="width: 26%; " onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>  -
            <input id="form-time4" placeholder="结束用水" class="laydate-icon" style="width: 26%; " onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>
            <input id="form-timekey2" type="text" name="#" style="display: none;"/>
        </div>
    </div>
    <input id="form-sub" type="submit" value="提交"/>
</form>
</html>
<script>
    $(function () {
        $("#form2-control1").click(function(){
            $("#form2-control3").show();
        });
        $("#form2-control2").click(function(){
            $("#form2-control4").show();
        });
    });
</script>