<html xmlns:th="http://www.w3.org/1999/xhtml">
<form action="/applyOrganizationForm/commit"  method="post"  class="appli-form"  id="appli-form">
    <div class="form-inline">
        <div class="form-group">
            <label>承办组织</label>
            <input disabled="disabled"  type="text" name="#" th:value="${organizationName}"/>
        </div>
        <div class="form-group">
            <label>责任人</label>
            <input disabled="disabled"  type="text" name="#" th:value="${user.realName}"/>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label>联系电话</label>
            <input type="text" name="tel" th:value="${user.tel}"/>
        </div>
        <div class="form-group">
            <label>活动名称</label>
            <input type="text" name="activityName"/>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label>活动地点</label>
            <input type="text" name="activityPlace"/>
        </div>
        <div class="form-group">
            <label>活动时间</label>
            <input id="time1" placeholder="开始日期" class="laydate-icon" style="width: 26%; " onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>  -
            <input id="time2" placeholder="结束日期" class="laydate-icon" style="width: 26%; " onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>
            <input id="timekey" type="text" name="activityDate" style="display: none;"/>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label>物品清单</label>
            <input type="text" name="list"/>
        </div>
        <div class="form-group">
            <label>经费预算</label>
            <input type="text" name="budget"/>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label class="areatitle">活动内容</label>
            <textarea name="content"></textarea>
        </div>
        <div class="form-group">
            <label class="areatitle">宣传方式</label>
            <textarea name="method"></textarea>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label>教务资源</label>
            <label><input id="formtest" class="form2-control" name="resourcesStatus" type="radio" value="1"/>使用</label>
            <label><input class="form2-hide" name="resourcesStatus" type="radio" value="0"/>不使用</label>
            <input class="form2-input2" name="resources" placeholder="使用教室/桌椅" hidden="hidden"/>
        </div>
        <div class="form-group">
            <label>公共事业部</label>
            <label><input class="form2-control3 dian" name="isWater" type="checkbox" value="1"/>用电</label>
            <label><input class="form2-control3 shui" name="isElectric" type="checkbox" value="0"/>用水</label>
        </div>
        <div class="form-inline form2-input" id="form2-control3">
            <input class="dian-input" name="water" placeholder="用电量"/>
            <input class="shui-input" name="electric" placeholder="用水量"/>
            <label>活动时间</label>
            <input name="start" id="form-time1" placeholder="开始" class="laydate-icon" style="width: 26%; " onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>  -
            <input name="end" id="form-time2" placeholder="结束" class="laydate-icon" style="width: 26%; " onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>
            <input id="form-timekey1" type="text" name="#" style="display: none;"/>
        </div>
    </div>
    <input id="form-sub" type="submit" value="提交"/>
</form>
</html>
<script>
    $(function () {
        $(".shui").click(function () {
            $(".shui-input").show();
        });
        $(".dian").click(function () {
            $(".dian-input").show();
        });
        $(".form2-control").click(function () {
            $(".form2-input2").show();
        });
        $(".form2-hide").click(function () {
            $(".form2-input2").hide();
        });
        $(".form2-control3").click(function(){
            $("#form2-control3").show();
            var flag = 2;
            $(".form2-control3").each(function () {
               if(!$(this).is(':checked')) {
                   flag-=1;
               }
            });
            console.log(flag);
            if(flag){
            }
            else {
                $("#form2-control3").hide();
            }
        });
    });

    $(function () {
        $(".appli-form").submit(function () {
            $("#timekey").val($("#time1").val()+" 至 "+$("#time2").val());
        })
    })
</script>