<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="betahouse.mapper.ApprovePublicUtilityMapper">
  <resultMap id="BaseResultMap" type="betahouse.model.ApprovePublicUtility">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="form_id" jdbcType="INTEGER" property="formId" />
    <result column="is_approve" jdbcType="INTEGER" property="isApprove" />
    <result column="defend_comment" jdbcType="VARCHAR" property="defendComment" />
    <result column="electric_comment" jdbcType="VARCHAR" property="electricComment" />
    <result column="approve_user_id" jdbcType="INTEGER" property="approveUserId" />
    <result column="water" jdbcType="VARCHAR" property="water" />
    <result column="electric" jdbcType="VARCHAR" property="electric" />
    <result column="start" jdbcType="VARCHAR" property="start" />
    <result column="end" jdbcType="VARCHAR" property="end" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_approve_public_utility
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="betahouse.model.ApprovePublicUtility">
    insert into b_approve_public_utility (id, form_id, is_approve, 
      defend_comment, electric_comment, approve_user_id, 
      water, electric, start, 
      end)
    values (#{id,jdbcType=INTEGER}, #{formId,jdbcType=INTEGER}, #{isApprove,jdbcType=INTEGER}, 
      #{defendComment,jdbcType=VARCHAR}, #{electricComment,jdbcType=VARCHAR}, #{approveUserId,jdbcType=INTEGER}, 
      #{water,jdbcType=VARCHAR}, #{electric,jdbcType=VARCHAR}, #{start,jdbcType=VARCHAR}, 
      #{end,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="betahouse.model.ApprovePublicUtility">
    update b_approve_public_utility
    set form_id = #{formId,jdbcType=INTEGER},
      is_approve = #{isApprove,jdbcType=INTEGER},
      defend_comment = #{defendComment,jdbcType=VARCHAR},
      electric_comment = #{electricComment,jdbcType=VARCHAR},
      approve_user_id = #{approveUserId,jdbcType=INTEGER},
      water = #{water,jdbcType=VARCHAR},
      electric = #{electric,jdbcType=VARCHAR},
      start = #{start,jdbcType=VARCHAR},
      end = #{end,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, form_id, is_approve, defend_comment, electric_comment, approve_user_id, 
    water, electric, start, end
    from b_approve_public_utility
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, form_id, is_approve, defend_comment, electric_comment, approve_user_id, 
    water, electric, start, end
    from b_approve_public_utility
  </select>
</mapper>