<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="betahouse.mapper.ApprovePlaceActivityMapper">
  <resultMap id="BaseResultMap" type="betahouse.model.ApprovePlaceActivity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="approve_user_id" jdbcType="INTEGER" property="approveUserId" />
    <result column="is_approve" jdbcType="INTEGER" property="isApprove" />
    <result column="form_id" jdbcType="INTEGER" property="formId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="lv" jdbcType="INTEGER" property="lv" />
    <result column="date" jdbcType="VARCHAR" property="date" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_approve_place_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="betahouse.model.ApprovePlaceActivity">
    insert into b_approve_place_activity (id, approve_user_id, is_approve, 
      form_id, comment, lv, 
      date)
    values (#{id,jdbcType=INTEGER}, #{approveUserId,jdbcType=INTEGER}, #{isApprove,jdbcType=INTEGER}, 
      #{formId,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{lv,jdbcType=INTEGER}, 
      #{date,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="betahouse.model.ApprovePlaceActivity">
    update b_approve_place_activity
    set approve_user_id = #{approveUserId,jdbcType=INTEGER},
      is_approve = #{isApprove,jdbcType=INTEGER},
      form_id = #{formId,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      lv = #{lv,jdbcType=INTEGER},
      date = #{date,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, approve_user_id, is_approve, form_id, comment, lv, date
    from b_approve_place_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, approve_user_id, is_approve, form_id, comment, lv, date
    from b_approve_place_activity
  </select>
  <select id="selectByFormId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, approve_user_id, is_approve, form_id, comment, lv, date
    from b_approve_place_activity
    where form_id = #{formId,jdbcType=INTEGER}
  </select>
  <select id="selectByLvAndFormId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, approve_user_id, is_approve, form_id, comment, lv, date
    from b_approve_place_activity
    where lv = #{lv,jdbcType=INTEGER}
    and form_id = #{formId,jdbcType=INTEGER}
  </select>
</mapper>