<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="betahouse.mapper.ClubActivityStatusMapper">
  <resultMap id="BaseResultMap" type="betahouse.model.ClubActivityStatus">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="form_type" jdbcType="INTEGER" property="formType" />
    <result column="form_id" jdbcType="INTEGER" property="formId" />
    <result column="form_user_id" jdbcType="INTEGER" property="formUserId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="approve_date" jdbcType="VARCHAR" property="approveDate" />
    <result column="approve_lv" jdbcType="INTEGER" property="approveLv" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_status_club_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="betahouse.model.ClubActivityStatus">
    insert into b_status_club_activity (id, form_type, form_id, 
      form_user_id, status, approve_date, 
      approve_lv)
    values (#{id,jdbcType=INTEGER}, #{formType,jdbcType=INTEGER}, #{formId,jdbcType=INTEGER}, 
      #{formUserId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{approveDate,jdbcType=VARCHAR}, 
      #{approveLv,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="betahouse.model.ClubActivityStatus">
    update b_status_club_activity
    <set>
      <if test="null != formType and '' != formType">
        form_type = #{formType,jdbcType=INTEGER},
      </if>
      <if test="null != formId and '' != formId">
        form_id = #{formId,jdbcType=INTEGER},
      </if>
      <if test="null != formUserId and '' != formUserId">
        form_user_id = #{formUserId,jdbcType=INTEGER},
      </if>
      <if test="null != status and '' != status">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="null != approveDate and '' != approveDate">
        approve_date = #{approveDate,jdbcType=VARCHAR},
      </if>
      <if test="null != approveLv and '' != approveLv">
        approve_lv = #{approveLv,jdbcType=INTEGER}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, form_type, form_id, form_user_id, status, approve_date, approve_lv
    from b_status_club_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, form_type, form_id, form_user_id, status, approve_date, approve_lv
    from b_status_club_activity
  </select>
  <select id="selectByFormId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, form_type, form_id, form_user_id, status, approve_date, approve_lv
    from b_status_club_activity
    where form_id = #{formId,jdbcType=INTEGER}
  </select>
  <update id="updateByFormId" parameterType="betahouse.model.ClubActivityStatus">
    update b_status_club_activity
    <set>
      <if test="null != formType and '' != formType">
        form_type = #{formType,jdbcType=INTEGER},
      </if>
      <if test="null != formUserId and '' != formUserId">
        form_user_id = #{formUserId,jdbcType=INTEGER},
      </if>
      <if test="null != status and '' != status or 0 == status">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="null != approveDate and '' != approveDate">
        approve_date = #{approveDate,jdbcType=VARCHAR},
      </if>
      <if test="null != approveLv and '' != approveLv">
        approve_lv = #{approveLv,jdbcType=INTEGER}
      </if>
    </set>
    where form_id = #{formId,jdbcType=INTEGER}
  </update>
  <select id="selectByTypeAndLv" resultMap="BaseResultMap">
    select id, form_type, form_id, form_user_id, status, approve_date, approve_lv
    from b_status_club_activity
    where form_type = #{formType,jdbcType=INTEGER}
    and approve_lv = #{lv,jdbcType=INTEGER}
  </select>
  <select id="selectOverTypeAndLv" resultMap="BaseResultMap">
    select id, form_type, form_id, form_user_id, status, approve_date, approve_lv
    from b_status_club_activity
    where form_type = #{formType,jdbcType=INTEGER}
    and approve_lv > #{lv,jdbcType=INTEGER}
  </select>
  <select id="selectByFormUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, form_type, form_id, form_user_id, status, approve_date, approve_lv
    from b_status_club_activity
    where form_user_id = #{formUserId,jdbcType=INTEGER}
  </select>
</mapper>