<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="betahouse.mapper.ClubFinancialFlowMapper">
  <resultMap id="BaseResultMap" type="betahouse.model.ClubFinancialFlow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="club_id" jdbcType="INTEGER" property="clubId" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="income" jdbcType="INTEGER" property="income" />
    <result column="cost" jdbcType="INTEGER" property="cost" />
    <result column="date" jdbcType="VARCHAR" property="date" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_club_financial_flow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="betahouse.model.ClubFinancialFlow">
    insert into b_club_financial_flow (id, club_id, activity_id, 
      comment, income, cost, 
      date)
    values (#{id,jdbcType=INTEGER}, #{clubId,jdbcType=INTEGER}, #{activityId,jdbcType=INTEGER}, 
      #{comment,jdbcType=VARCHAR}, #{income,jdbcType=INTEGER}, #{cost,jdbcType=INTEGER}, 
      #{date,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="betahouse.model.ClubFinancialFlow">
    update b_club_financial_flow
    set club_id = #{clubId,jdbcType=INTEGER},
      activity_id = #{activityId,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      income = #{income,jdbcType=INTEGER},
      cost = #{cost,jdbcType=INTEGER},
      date = #{date,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, club_id, activity_id, comment, income, cost, date
    from b_club_financial_flow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, club_id, activity_id, comment, income, cost, date
    from b_club_financial_flow
  </select>
  <select id="selectByClubId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, club_id, activity_id, comment, income, cost, date
    from b_club_financial_flow
    where club_id = #{clubId,jdbcType=INTEGER}
  </select>
  <select id="selectByFormId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, club_id, activity_id, comment, income, cost, date
    from b_club_financial_flow
    where form_id = #{formId,jdbcType=INTEGER}
  </select>
</mapper>