<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="betahouse.mapper.FormTypeMapper">
  <resultMap id="BaseResultMap" type="betahouse.model.FormType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="form_type" jdbcType="INTEGER" property="formType" />
    <result column="form_name" jdbcType="VARCHAR" property="formName" />
    <result column="max_lv" jdbcType="INTEGER" property="maxLv" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_form_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="betahouse.model.FormType">
    insert into b_form_type (id, form_type, form_name, 
      max_lv)
    values (#{id,jdbcType=INTEGER}, #{formType,jdbcType=INTEGER}, #{formName,jdbcType=VARCHAR}, 
      #{maxLv,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="betahouse.model.FormType">
    update b_form_type
    set form_type = #{formType,jdbcType=INTEGER},
      form_name = #{formName,jdbcType=VARCHAR},
      max_lv = #{maxLv,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, form_type, form_name, max_lv
    from b_form_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, form_type, form_name, max_lv
    from b_form_type
  </select>
  <select id="selectByFormType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, form_type, form_name, max_lv
    from b_form_type
    where form_type = #{formType,jdbcType=INTEGER}
  </select>
  <select id="selectByFormName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, form_type, form_name, max_lv
    from b_form_type
    where form_name = #{formName,jdbcType=VARCHAR}
  </select>
</mapper>