<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="betahouse.mapper.FormPlaceActivityMapper">
  <resultMap id="BaseResultMap" type="betahouse.model.FormPlaceActivity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="activity_place" jdbcType="VARCHAR" property="activityPlace" />
    <result column="activity_date" jdbcType="VARCHAR" property="activityDate" />
    <result column="list" jdbcType="VARCHAR" property="list" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="budget" jdbcType="REAL" property="budget" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="date" jdbcType="VARCHAR" property="date" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_form_place_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="betahouse.model.FormPlaceActivity">
    insert into b_form_place_activity (id, user_id, user_tel, 
      activity_name, activity_place, activity_date, 
      list, content, budget, 
      method, number, date
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userTel,jdbcType=VARCHAR}, 
      #{activityName,jdbcType=VARCHAR}, #{activityPlace,jdbcType=VARCHAR}, #{activityDate,jdbcType=VARCHAR}, 
      #{list,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{budget,jdbcType=REAL}, 
      #{method,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}
      )
    <selectKey keyProperty="id" order="AFTER" resultType="Integer">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
  </insert>
  <update id="updateByPrimaryKey" parameterType="betahouse.model.FormPlaceActivity">
    update b_form_place_activity
    set user_id = #{userId,jdbcType=INTEGER},
      user_tel = #{userTel,jdbcType=VARCHAR},
      activity_name = #{activityName,jdbcType=VARCHAR},
      activity_place = #{activityPlace,jdbcType=VARCHAR},
      activity_date = #{activityDate,jdbcType=VARCHAR},
      list = #{list,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      budget = #{budget,jdbcType=REAL},
      method = #{method,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      date = #{date,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, user_tel, activity_name, activity_place, activity_date, list, 
    content, budget, method, number, date
    from b_form_place_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, user_tel, activity_name, activity_place, activity_date, list, 
    content, budget, method, number, date
    from b_form_place_activity
  </select>
</mapper>