<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="betahouse.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="betahouse.model.Message">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="from_id" jdbcType="INTEGER" property="fromId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="to_id" jdbcType="CHAR" property="toId" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="betahouse.model.Message">
    insert into b_message (id, from_id, title, 
      comment, to_id, file_id, 
      date, status)
    values (#{id,jdbcType=INTEGER}, #{fromId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{toId,jdbcType=CHAR}, #{fileId,jdbcType=INTEGER}, 
      #{date,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="betahouse.model.Message">
    update b_message
    <set>
      <if test="null != fromId and '' != fromId">
        from_id = #{fromId,jdbcType=INTEGER},
      </if>
      <if test="null != title and '' != title">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="null != comment and '' != comment">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="null != toId and '' != toId">
        to_id = #{toId,jdbcType=CHAR},
      </if>
      <if test="null != fileId and '' != fileId">
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
      <if test="null != date and '' != date">
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="null != status and '' != status">
        status = #{status,jdbcType=INTEGER}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, from_id, title, comment, to_id, file_id, date, status
    from b_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, from_id, title, comment, to_id, file_id, date, status
    from b_message
  </select>
  <select id="selectByFromId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, from_id, title, comment, to_id, file_id, date, status
    from b_message
    where from_id = #{fromId,jdbcType=INTEGER}
  </select>
</mapper>