<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="betahouse.mapper.OrganizationFinancialFlowMapper">
  <resultMap id="BaseResultMap" type="betahouse.model.OrganizationFinancialFlow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="form_id" jdbcType="INTEGER" property="formId" />
    <result column="handler" jdbcType="INTEGER" property="handler" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="income" jdbcType="INTEGER" property="income" />
    <result column="cost" jdbcType="INTEGER" property="cost" />
    <result column="date" jdbcType="VARCHAR" property="date" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_organization_financial_flow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="betahouse.model.OrganizationFinancialFlow">
    insert into b_organization_financial_flow (id, organization_id, form_id, 
      handler, comment, income, 
      cost, date)
    values (#{id,jdbcType=INTEGER}, #{organizationId,jdbcType=INTEGER}, #{formId,jdbcType=INTEGER}, 
      #{handler,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{income,jdbcType=INTEGER}, 
      #{cost,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="betahouse.model.OrganizationFinancialFlow">
    update b_organization_financial_flow
    set organization_id = #{organizationId,jdbcType=INTEGER},
      form_id = #{formId,jdbcType=INTEGER},
      handler = #{handler,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      income = #{income,jdbcType=INTEGER},
      cost = #{cost,jdbcType=INTEGER},
      date = #{date,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, organization_id, form_id, handler, comment, income, cost, date
    from b_organization_financial_flow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, organization_id, form_id, handler, comment, income, cost, date
    from b_organization_financial_flow
  </select>
</mapper>