<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="betahouse.mapper.PowerTypeMapper">
  <resultMap id="BaseResultMap" type="betahouse.model.PowerType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="power_id" jdbcType="INTEGER" property="powerId" />
    <result column="power_name" jdbcType="VARCHAR" property="powerName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_power_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="betahouse.model.PowerType">
    insert into b_power_type (id, power_id, power_name
      )
    values (#{id,jdbcType=INTEGER}, #{powerId,jdbcType=INTEGER}, #{powerName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="betahouse.model.PowerType">
    update b_power_type
    set power_id = #{powerId,jdbcType=INTEGER},
      power_name = #{powerName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, power_id, power_name
    from b_power_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, power_id, power_name
    from b_power_type
  </select>
</mapper>