<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="betahouse.mapper.StatusPlaceActivityMapper">
  <resultMap id="BaseResultMap" type="betahouse.model.StatusPlaceActivity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="form_type" jdbcType="VARCHAR" property="formType" />
    <result column="form_id" jdbcType="INTEGER" property="formId" />
    <result column="form_user_id" jdbcType="INTEGER" property="formUserId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="approve_date" jdbcType="VARCHAR" property="approveDate" />
    <result column="approve_lv" jdbcType="INTEGER" property="approveLv" />
    <result column="resources_status" jdbcType="INTEGER" property="resourcesStatus" />
    <result column="public_status" jdbcType="INTEGER" property="publicStatus" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_status_place_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="betahouse.model.StatusPlaceActivity">
    insert into b_status_place_activity (id, form_type, form_id, 
      form_user_id, status, approve_date, 
      approve_lv, resources_status, public_status
      )
    values (#{id,jdbcType=INTEGER}, #{formType,jdbcType=VARCHAR}, #{formId,jdbcType=INTEGER}, 
      #{formUserId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{approveDate,jdbcType=VARCHAR}, 
      #{approveLv,jdbcType=INTEGER}, #{resourcesStatus,jdbcType=INTEGER}, #{publicStatus,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="betahouse.model.StatusPlaceActivity">
    update b_status_place_activity
    set form_type = #{formType,jdbcType=VARCHAR},
      form_id = #{formId,jdbcType=INTEGER},
      form_user_id = #{formUserId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      approve_date = #{approveDate,jdbcType=VARCHAR},
      approve_lv = #{approveLv,jdbcType=INTEGER},
      resources_status = #{resourcesStatus,jdbcType=INTEGER},
      public_status = #{publicStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, form_type, form_id, form_user_id, status, approve_date, approve_lv, resources_status, 
    public_status
    from b_status_place_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, form_type, form_id, form_user_id, status, approve_date, approve_lv, resources_status, 
    public_status
    from b_status_place_activity
  </select>
  <update id="updateStatusByFormId" parameterType="betahouse.model.StatusPlaceActivity">
    update b_status_place_activity
    set form_type = #{formType,jdbcType=VARCHAR},
    form_id = #{formId,jdbcType=INTEGER},
    form_user_id = #{formUserId,jdbcType=INTEGER},
    status = #{status,jdbcType=INTEGER},
    approve_date = #{approveDate,jdbcType=VARCHAR},
    approve_lv = #{approveLv,jdbcType=INTEGER},
    resources_status = #{resourcesStatus,jdbcType=INTEGER},
    public_status = #{publicStatus,jdbcType=INTEGER}
    where form_id = #{formId,jdbcType=INTEGER}
  </update>
  <select id="selectByFormId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, form_type, form_id, form_user_id, status, approve_date, approve_lv, resources_status,
    public_status
    from b_status_place_activity
    where form_id = #{formId,jdbcType=INTEGER}
  </select>
</mapper>